.card{
    border-radius: 0;
    cursor: pointer;
}

.card,
.card-footer{
    background-color: #FFFFA5;
    border: none;
}
.card .delete{
    opacity: 0;
    padding: .5rem;
    float:right;
}
.card .delete:hover{
    opacity: 1;
}
.card-footer{
    text-align: right;
}

.card.completed,
.card.completed .card-footer{
    background-color: #EEE;
    color: #CCC;
}

i{
    padding-right: 0.5rem;
}

i.fa-times{
    color: #CC0000;
}

i.fa-check{
    color: green;
}